{% extends '_layout.html' %}
{% block content %}
<div class="grid-3-columns">
    <article class="main-content">
        <p class="page-context">Welcome</p>
        <h1 class="page-title">Samaritans prototyping kit v0.1</h1>
        <p class="lede">To get started, replace this page index.html in the views directory.</p>
        <p>You can see <a href="/elements-example">an example of all the available elements</a> or a simple <a href="/start-example">start page</a>.</p>
    </article>
</div>
{% endblock %}