{% extends '_layout.html' %}
{% block content %}

<div class="grid-3-columns">
    <article class="main-content">
        <p class="page-context">Example</p>
        <h1 class="page-title">Book your Samaritans training course</h1>
        <p class="lede">Your training will give you the knowledge, skills and support to become a listening volunteer.</p>
        <p>During the training course a team of experience Samaritans will work with you to practice and develop your skills.</p>
        <blockquote class="inset">
            <p>You have chosen to volunteer in Birmingham, but you can choose where and when you do your training.</p>
        </blockquote>
        <a class="button button--start" href="#">Start now</a>
    </article>
</div>
    
    
{% endblock %}